// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  float: none;
  margin: 200px auto auto;
  text-align: center;
  font-size: 20px;
}
.centerDiv {
  float: none;
  margin: 0px auto auto;

}